@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Source sans pro, sans-serif;
}

body {
    font-size: 16px;;
}

/* Header / Navigation */

header {
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 1em 2em;
    background-color: white;
}

header img {
    width: 2.1rem;
    height: 2.1rem;  
    display: block;
    max-width: 100%;
}

header p {
    margin-right: auto;
    font-weight: bolder;
    font-size: 1.25rem;
    padding-left: 0.3em;
    letter-spacing: -0.03756rem; 
    font-family: Roboto, sans-serif;
} 

header a {
    text-decoration: none;
    color: #090909; 
    font-size: 1.2rem;
    padding-left: 1em;
    text-align: right;
    font-family: Source sans pro, sans-serif;
    font-style: normal;
    font-weight: 600;
}

header a:hover {
    color: #303030; 
}

header p:hover {
    color: #3e3c3c; 
    cursor: pointer;
}

/* Header / Navigation */


/* Hero Article */

.blog-post-container {
    background-image: url("../images/article-image-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Source sans pro', sans-serif;
    height: 350px;
    display: grid;
}

.hero-container {
    display: grid;
    align-content: end;
    justify-content: end;
    max-width: 75rem;
    margin-bottom: 2em;
    margin-left: 2.2rem;
}

.hero-title {
    font-size: 2.5rem;
    margin-bottom: 0; 
    margin-top: 0;
}
.hero-desc {
    font-size: 1.2rem;
    font-weight: lighter;
    padding-right: 20rem;
    margin: 0;
}
.read-more {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Hero Article */


/* Main / Sections */

main {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}


.portfolio-date {
    color: #000;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 0.5em;
}

.portfolio-items > h2 {
    margin: 0;
    padding-bottom: 0.2em;
}

.portfolio-items img {
    display: block; 
    max-width: 100%;
}
/* Main / Sections */


/* View More Button */

.view-more {
    display: flex;
    justify-content: center;
}

.view-more-btn {
    font-size: 2rem;
    padding-top: 1em;
    background: transparent;
    border: none;
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
    color: #646363;

}
.view-more-btn:hover {
    color: #000;
    transition: 0.6s;
}
/* View More Button */

/* Footer */

footer {
    background-color: #141414;
    color: white;
    text-align: center;
    margin-top: 2em;
}

footer  p{
    font-size: 2rem;
    padding-top: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer-copyright {
    font-weight: lighter;
    font-size: 1.2rem;
    padding-bottom: 2em;
    padding-top: 0.5em;
}

/* Footer */


@media (max-width: 950px) {
    .hero-desc {
        padding-right:  4em; 
    }
    .hero-container {
        margin-left: 2.2rem;
    }
}

@media (max-width: 597px) {
    header  > p {
        font-size: 0.8em;
    }
    header > a {
        font-size: 0.8em;
    }
    header > img {
        max-width:  20px;
        max-height: 20px;
    }
}


