@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Source sans pro, sans-serif;
}

/* Header / Navigation */

header {
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 1em 2em;
    background-color: white;
}

header img {
    width: 2.1rem;
    height: 2.1rem;  
}

header p {
    margin-right: auto;
    font-weight: bolder;
    font-size: 1.25rem;
    padding-left: 0.3em;
    letter-spacing: -0.03756rem; 
    font-family: Roboto, sans-serif;
} 

header a {
    text-decoration: none;
    color: #090909; 
    font-size: 1.2rem;
    padding-left: 1em;
    text-align: right;
    font-family: Source sans pro, sans-serif;
    font-style: normal;
    font-weight: 600;
}

header a:hover {
    color: #303030; 
}

header p:hover {
    color: #3e3c3c; 
    cursor: pointer;
}

/* Header / Navigation */


/* Hero Article */

.blog-post-hero {
    background-image: url("../images/article-image-hero.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Source sans pro, sans-serif;
}

.blog-post-container {
    padding-top: 10em;
    padding-bottom: 3em;
}

.hero-date {
    padding: 5em 5em 0.2em 5em;
    margin: 0;

}

.hero-title {
    font-size: 2.5rem;
    padding: 0em 5em 0.2em 2em;
    margin: 0;
}

.hero-desc {
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0em 26em 0em 4.2em;
    margin: 0;

}
.read-more {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Hero Article */


/* Main / Sections */

main {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 1em;
    margin-left: 5em;
    margin-right: 4em;
}

.blogs {
    margin-bottom: 1em;
}
.blog-date {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 0.5em;
}

.blogs > h1 {
    margin: 0;
    padding-bottom: 0.2em;
}

.blog-desc {
    padding-bottom: 0.5em;
}

/* Main / Sections */


/* View More Button */

.view-more {
    display: flex;
    justify-content: center;
}

.view-more-btn {
    font-size: 2rem;
    padding: 2em;
    background: transparent;
    border: none;
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
    margin: 0 auto;
}

/* View More Button */

/* Footer */

footer {
    background-color: #141414;
    color: white;
    text-align: center;
}

footer > h1{
    font-size: 2rem;
    padding-top: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

footer > h3 {
    font-weight: lighter;
    font-size: 1.2rem;
    padding-bottom: 2em;
    padding-top: 0.5em;
}

/* Footer */


@media (max-width: 950px) {
    
    .hero-desc {
    padding: 0em 4em 0em 4.2em;
    }
}

@media (max-width: 487px) {
    
    .hero-title {
        padding: 0em 1em 0.2em 2.7em;
        font-size: 1.8rem;
    }
    header {
        font-size: 1rem;
    }
}
@media (max-width: 660px) {
    main {
        margin: 1em 2em;
    }
    .hero-date {
        padding-left: 2em;
    }
    .hero-title {
        padding-left: 0.8em;
    }
    .hero-desc {
        padding-left: 1.7em;
    }
}

@media (max-width: 444px ) {
    header > p {
        font-size: 0.8em;
    }
    header > a {
        font-size: 0.9em;
    }
    .hero-title {
        padding-left: 1.1em;
    }
}